<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{system/parts/common :: html_head()}"></head>

<body>

	<!-- SP版ハンバーガーメニュー -->
	<th:block th:replace="~{system/parts/common :: hamburgerMenu()}"></th:block>

	<div class="container-fluid">
		<!-- サイドメニュー（PC版） -->
		<div th:replace="~{system/parts/common :: sideMenu()}" class="row"></div>

		<div class="container-fluid">
			<div class="row">
				<!-- メインコンテンツ -->
				<main class="col-lg-9 p-lg-5 offset-lg-3">
					<div class="container">

						<h1 class=""> アレルギー新規登録</h1>

						<!-- エラーメッセージを表示 -->
						<div th:if="${errorMessage}" class="error-message mt-4">[[${errorMessage}]]</div>

						<form method="post" action="" th:object="${allergiesForm}">
							<div class="table-responsive mt-4">
								<table class="table table-striped table-hover addOrderTableBelow">
									<thead class="">
										<tr>
											<th>#</th>
											<th>項目名</th>
											<th>カナ</th>
										</tr>
									</thead>
									<tbody class="table-group-divider">
										<tr th:each="index : ${#numbers.sequence(0, 9)}">
											<td th:text="${index + 1}"></td>
											<td>
												<input type="text" th:field="*{allergies[__${index}__].name}"
													class="form-control" />
												<small class="error-message"
													th:errors="*{allergies[__${index}__].name}"></small>
											</td>
											<td>
												<input type="text" th:field="*{allergies[__${index}__].kana}"
													class="form-control" />
												<small class="error-message"
													th:errors="*{allergies[__${index}__].kana}"></small>
											</td>
										</tr>
									</tbody>
								</table>

								<div class="text-center my-5">
									<input type="submit" value="保存" class="btn-save">
								</div>

							</div>
						</form>
					</div>
				</main>

			</div>
		</div>
	</div>

	<!-- 右側から表示されるOffcanvasメニュー -->
	<div th:replace="~{system/parts/common :: offcanvasMenu()}"></div>
	<th:block th:replace="~{system/parts/common :: javascripts()}"></th:block>

</body>

</html>