<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{system/parts/common :: html_head()}"></head>

<body>
	<form action="" method="post" th:object="${allergy}">

		<!-- SP版ハンバーガーメニュー -->
		<th:block th:replace="~{system/parts/common :: hamburgerMenu()}"></th:block>

		<div class="container-fluid">
			<!-- サイドメニュー（PC版） -->
			<div class="row">
				<nav th:replace="~{system/parts/common :: sideMenu()}" id="sidebar"
					class="col-lg-3 position-fixed d-none d-lg-block"></nav>

				<div class="container-fluid">
					<div class="row">
						<!-- メインコンテンツ -->
						<main class="col-lg-9 p-lg-5 offset-lg-3">
							<div class="container">

								<h1 class="">アレルギー編集</h1>

								<!-- エラーメッセージを表示 -->
								<div th:if="${errorMessage}" class="mt-4">[[${errorMessage}]]</div>

								<div class="text-end mt-4">更新者：user　更新日時：[[${#dates.format(allergy.created,
									'yy/MM/dd/E HH:mm:ss')}]]</div>

								<div class="table-responsive-sm">

									<table class="table table-striped table-hover">
										<tr>
											<th>ID</th>
											<td colspan="">[[*{id}]]</td>
										</tr>
										<tr>
											<th>項目名</th>
											<td colspan="">
												<input type="text" th:field="*{name}" class="form-control">
												<small class="error-message" th:errors="*{name}"></small>
											</td>
										</tr>

										<tr>
											<th>カナ</th>
											<td colspan="">
												<input type="text" th:field="*{kana}" class="form-control">
												<small class="error-message" th:errors="*{kana}"></small>
											</td>
										</tr>

									</table>

									<div class="text-center my-5">
										<input type="submit" value="更新" class="btn-update">
									</div>

								</div>
							</div>
						</main>

					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- 右側から表示されるOffcanvasメニュー -->
	<div th:replace="~{system/parts/common :: offcanvasMenu()}"></div>
	<th:block th:replace="~{system/parts/common :: javascripts()}"></th:block>

</body>

</html>