<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.app.mapper.IngredientsAllergiesMapper">
	
	<insert id="insert" parameterType="IngredientsAllergies">

		INSERT INTO
		ingredients_allergies(ingredient_id, allergy_id)
		VALUES (#{ingredientId},
		#{allergyId})

	</insert>

</mapper>