<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{system/parts/common :: html_head()}"></head>

<body>

	<!-- SP版ハンバーガーメニュー -->
	<th:block th:replace="~{system/parts/common :: hamburgerMenu()}"></th:block>

	<div class="container-fluid">
		<!-- サイドメニュー（PC版） -->
		<div th:replace="~{system/parts/common :: sideMenu()}" class="row"></div>

		<div class="container-fluid">
			<div class="row">

				<!-- メインコンテンツ -->
				<main class="col-lg-9 p-lg-5 offset-lg-3">

					<div class="container">

						<h1>商品詳細</h1>

						<div class="d-flex justify-content-between">

							<div class="btn">
								<a th:href="@{/order/edit}">
									<button class="btn-detail-edit-dele">ー 編集／削除</button>
								</a>
							</div>

							<div class="btn">
								<a th:href="@{/order/add}">
									<button class="btn-createNew">＋ 新規登録</button>
								</a>
							</div>

						</div>


						<div class="updatedatail">更新者：清水　更新日時：[[${#dates.format(order.created,
							'yy/MM/dd/E HH:mm:ss')}]]</div>


						<div class="row">
							<div class="col-md-4">
								<img class="img-fluid" th:src="@{/gallery/{img}(img=${order.img})}" alt="">
							</div>

							<div class="col-md-8 mt-4 mt-sm-4 mt-md-0">
								<table class="detailOrderTable table table-hover detailOrderTable">
									<tr>
										<th class="col-3">ID</th>
										<td class="col-9">[[${order.id}]]</td>
									</tr>

									<tr>
										<th class="col-3">商品名</th>
										<td class="col-9">[[${order.name}]]</td>
									</tr>
									<tr>
										<th class="col-3">価格</th>
										<td class="col-9">[[${#numbers.formatInteger(order.price, 1, 'COMMA')}]] 円(税抜)
										</td>

									</tr>
									<tr>
										<th class="col-3">該当アレルギー</th>
										<td class="col-9">[[${order.allergyAndIngredient}]]</td>
									</tr>
									<tr>
										<th class="col-3">備考</th>
										<td class="col-9">
											[[${order.note}]]
										</td>
									</tr>
								</table>
							</div>

						</div>

						<div class="orders mt-4 mb-5" style="overflow-x: auto;">

							<table class="table table-striped table-hover detailOrderTableBelow">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">使用食材名</th>
										<th scope="col">該当アレルギー</th>
									</tr>
								</thead>
								<tbody class="table-group-divider">

									<tr th:each="detail : ${details}">
										<th class="num"></th>
										<td>
											<span th:if="${detail != null}"
												th:text="${detail.IngredientName}"></span>
											<span th:unless="${detail != null}">No detail available</span>
										</td>
										<td>
											<span th:if="${detail != null}" th:text="${detail.allergies}"></span>
											<span th:unless="${detail != null}">No detail available</span>
										</td>
									</tr>

								</tbody>
							</table>
						</div>

					</div>
				</main>

			</div>
		</div>

	</div>


	<!-- 右側から表示されるOffcanvasメニュー -->
	<div th:replace="~{system/parts/common :: offcanvasMenu()}"></div>

	<th:block th:replace="~{system/parts/common :: javascripts()}"></th:block>

</body>

</html>